<div>
    <div class="row rowc">
        <div class="menu1 box20" *ngIf="selectedSalary" routerLink="../">Pay Slips <br> <i
                class="bi bi-file-earmark-ruled-fill size"></i></div>
        <div class="menu1 box20" *ngIf="selectedSalary">Salary Details <br> <i class="bi bi-cash-coin size"></i> </div>
        <div class="menu1 box20" *ngIf="selectedSalary">Bank Details <br> <i class="bi bi-bank2 size"></i> </div>

        <div class="menu1 box20" *ngIf="selectedLeaves" routerLink="manage">Manage Leaves<br> <i
                class="bi bi-calendar3 size"></i></div>
        <div class="menu1 box20" *ngIf="selectedLeaves" routerLink="holiday"> Holidays <br><i class="bi bi-tree-fill size"></i> </div>

        </div>
</div>