.box20 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin: auto;
    height: 200px;
    width: 250px;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align: center;
    padding-top: 2%;
    font-size: x-large;
}
.rowc{
    width: 70%;
    margin: auto;
    margin-top: 12%;
}
.size{
    font-size: 100px;
}
.menu1{
    background-color: rgb(238, 247, 170);
}
.menu1{
    background-color: rgb(108, 224, 207);
}