.bg{
    width: 90%;
    margin: auto;
}
.bgz{
background-color: aquamarine;
}
.bgx{
background-color: blanchedalmond;
}
.co2{
    
    width: 40%;
    margin: auto;
    text-align: center; 
}
.co3{
    width: 50%;
    margin: auto;
    text-align: center; 
}
.bor{
    background-color: rgb(9, 70, 70);
    color: white;
    padding: 3%;
    border-radius: 20px;
    border-color: aqua;
    border-style: inset;
}
.rowd{
    width: 80%;
    margin: auto;
    font-size: medium;
    padding: 3%;
}
.col2{
    width: 40%;
    margin: auto;
}
.col0{
    width: 1%;
}
.rowc{
    margin: auto;
}