<div>

    <div class="row bg mt-2">
        <div class="col co2 mt-1 p-3 bor bgz">

            <h4>Apply Leave</h4>

            <form action="">

                <div class="row rowc">
                    <div class="col-3 p-1"> Start Date : </div>
                    <div class="col-7"><input #startdate="ngModel" [(ngModel)]="leave.startdate" class="form-control"
                            type="date" (change)="startD($event)"></div>
                </div>

                <div class="row rowc mt-3">
                    <div class="col-3 p-1"> End Date : </div>
                    <div class="col-7"><input #endate="ngModel" [(ngModel)]="leave.enddate" class="form-control"
                            type="date" (change)="endD($event)"></div>
                </div>


                <div class="row mt-3">
                    <div class="col-3 p-1"> Leave Type </div>

                    <div class="col-7"> <select aria-placeholder="Leave type" class="form-select">
                            <option> Seak Leave </option>
                            <option> Casual Leave</option>
                            <option> Earned Leave</option>
                        </select> </div>

                </div>

                <div class="row mt-3 cbx">
                    <div class="col-7"> Start Date is Half Day </div>
                    <div class="col-3 p-1"> <input type="checkbox" class="form-check" name="" id=""> </div>
                </div>

                <div class="row mt-3 cbx">
                    <div class="col-7"> End Date is Half Day </div>
                    <div class="col-3 p-1"> <input type="checkbox" class="form-check" name="" id=""> </div>
                </div>


                <div class="row mt-3">
                    <div class="col-3 p-1"> Message : </div>
                    <div class="col-7"><textarea #message="ngModel" name="message" [(ngModel)]="leave.message"
                            type="text" class="form-control" placeholder="Message" required> </textarea></div>
                </div>

                <button class="btn btn-success mt-3">Calculate Total Days</button>

            </form>

        </div>

<div class="co3 bgx">

    <div class="bor">
        <h4>Leave Balances</h4>

        <div class="row rowd">
            <div class="col2"> Seak Leave </div>
            <div class="col0">:</div>
            <div class="col2"> 44 </div>
        </div>

        <div class="row rowd">
            <div class="col2"> Seak Leave </div>
            <div class="col0">:</div>
            <div class="col2"> 44 </div>
        </div>

        <div class="row rowd">
            <div class="col2"> Seak Leave </div>
            <div class="col0">:</div>
            <div class="col2"> 44 </div>
        </div>

        <div class="row rowd">
            <div class="col2"> Seak Leave </div>
            <div class="col0">:</div>
            <div class="col2"> 44 </div>
        </div>

    </div>
    <div class="bor mt-4">

        <div class="row mt-3">
            <div class="col-4 p-1"> Total Leave Days : </div>
            <div class="col-6"><input #endate="ngModel" disabled="disabled" [(ngModel)]="leave.days"
                    class="form-control" type="text"></div>
        </div>

        <button class="btn btn-primary mt-4">Apply</button>    </div>

</div>
        
    </div>


</div>