<div class="row mt-5">

    <div class="box1">
        <div class="icn"> <i class="bi bi-person-circle"></i>
        </div>

        <div class="row mt-5">
            <div class="coll">Name</div>
            <div class="colm">:</div>
            <div class="colr">Saurabh Chavan</div>
        </div>

        <div class="row mt-4">
            <div class="coll">Designation</div>
            <div class="colm">:</div>
            <div class="colr">Software Engineer</div>
        </div>

        <div class="row mt-4 pb-3">
            <div class="coll">Reporting To</div>
            <div class="colm">:</div>
            <div class="colr">Shalini Digarse <br> [#30000330]</div>
        </div>

    </div>

    <div class="box2">
        <div class="row">
            <div class="box20 bga">
                <div class="size2">DATE</div>
                <div class="horl"></div>
                <div class="size4">{{ts}}<br>{{ps}}</div>

            </div>

            <div class="box20 bgb">
                <div class="size3">Days From Joining</div>
                <div class="horl"></div>
                <div class="size2">3656</div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="box20 bgc">
                <div class="size3">Next Holiday</div>
                <div class="horl"></div>
                <div class="size2">15 Jun</div>
            </div>
            <div class="box20 bgd">
                <div class="size1">Project Count</div>
                <div class="horl"></div>
                <div class="size2">2</div>
            </div>
        </div>

    </div>

</div>