<h2>Holiday Calendar<h2>
        <div class="row mt-4">
            <div class="co"><full-calendar [options]="calendarOptions" [events]="eventsPromise | async"></full-calendar>
            </div>
            <div *ngIf="!allHol" class="co2">
                <div class="upp mb-3">
                    <h4 class="mb-3">Holiday</h4>
                    <tr class="mb-3">
                        <td class="p-3">Date</td>
                        <td class="p-3">{{hDate}}</td>
                    </tr>
                    <tr class="mb-3">
                        <td class="p-3">Holiday</td>
                        <td class="p-3">{{hName}}</td>
                    </tr>

                </div>
                <div class="low">

                    <div class="row">
                        <div class="cola">
                            <h3 class="mb-3 p-1">Upcoming Holidays</h3>
                        </div>
                        <div class="colb"> <button class="btnn" (click)="showAllEvents()">All Holidays</button></div>

                    </div>




                    <div class="row mb-1">

                        <div class="coll">12-22-2222</div>
                        <div class="colm">:</div>
                        <div class="colr">lamb san diwasli</div>

                    </div>
                    <div class="row mb-1">

                        <div class="coll">12-22-2222</div>
                        <div class="colm">:</div>
                        <div class="colr">lamb san diwasli</div>

                    </div>
                    <div class="row mb-1">

                        <div class="coll">12-22-2222</div>
                        <div class="colm">:</div>
                        <div class="colr">lamb san diwasli</div>

                    </div>


                </div>
            </div>



            <div *ngIf="allHol" class="co2">


                <div class="less">
                    <div class="colb"> <button class="btnn" (click)="showLess()">Show Less</button></div>

                    <div class="row mb-1 mt-3">

                        <div class="coll">12-22-2222</div>
                        <div class="colm">:</div>
                        <div class="colr">lamb san diwasli</div>

                    </div>
                    <div class="row mb-1">

                        <div class="coll">12-22-2222</div>
                        <div class="colm">:</div>
                        <div class="colr">lamb san diwasli</div>

                    </div>

                </div>


            </div>



        </div>