.titlebox{
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    background-color: #17252a;
    padding: 30px;
    text-align: center;
    width: 50%;
    border-radius: 20px;
    margin: auto;
}
.emptydiv{
    min-height: 100px;
}
.rowid{
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 80%;
}
.option{
    background-color: #096875;
    color: whitesmoke;
    padding: 50px;
    text-align: center;
    width: 50%;
    border-radius: 20px;
    margin: auto;
    margin-top: 100px;
    border-color: aquamarine;
    border-style: double;
    border-width: medium;
}
.empBut{
    background-color: rgb(180, 16, 84);
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    font-size: large;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
margin-left: 0px;

}
.adBut{
    background-color: rgb(135, 22, 116);
    border-radius: 10px;
    width: 120px;
    padding: 10px;
    font-size: large;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
}
.test{
    width: 50%;
    margin: auto;
}
